<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="description" content="">-->

  <title>{{title}}</title>

  <!-- Plugin CSS -->
  <!-- Bootstrap core CSS -->
  <link href="/css/libs/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/main.min.css" rel="stylesheet">

</head>

<body class="{{page}}">
  <a href="/">Home</a>
  {{{ body }}}

  <script type="text/javascript" src="/js/libs/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/libs/popper.min.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML">
</script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\\\[','\\\\]'], ['\\(', '\\)']]}
  });
  </script>

  <!-- Fonts -->
  <link href="/css/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/fonts.min.css" rel="stylesheet">

</body>

</html>