<div class="container">
  <h1>Building Device</h1>
  <p class="lead">Building...</p>

  <h3>Device ID: {{device_id}}</h3>
  <h3>Contestant ID: {{contestant_id}}</h3>
 
  <h3>Account</h3>
  <p>{{ account }}</p>

  <h3>Questions</h3>
  <p>{{ questions }}</p>
</div>